In [ ]:
# Pandas
- 데이터 분석을 위한 사용이 쉽고 성능이 좋은 오픈소스 python 라이브러리
- R과 Python의 관계
    - R보다 Python이 학습이 더 쉽습니다.
    - R보다 Python이 표준 프로그래밍 언어로 웹이나 GUI 프로그램등 더욱 다양한곳에서 활용이 가능
    - R보다 Python이 성능이 더 좋습니다.
- 크게 두가지의 데이터 타입이 있습니다.
    - Series
        - Index와 Value로 이루어진 데이터 타입입니다.
        - 하나의 Series 객체의 값은 동일한 데이터 타입의 값을 갖습니다.
    - DataFrame
        - Index와 Value와 Column으로 이루어진 데이터 타입입니다.
        - Column은 Series로 이루어져 있습니다.
        - 엑셀의 테이블 형태로 구성이 되고, Column별로 같은 데이터 타입을 갖습니다.

In [ ]:
### Index
- **Series**
- Dataframe
- Input / Output

In [ ]:
- reference
    - https://pandas.pydata.org/
    - https://pandas.pydata.org/pandas-docs/stable/10min.html

In [10]:
import pandas as pd

## 1. Series
- Index와 Value로 이루어진 데이터 타입입니다.
- 하나의 Series 객체의 값은 동일한 데이터 타입의 값을 갖습니다.

In [ ]:
Series 선언

In [12]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
0~9까지 랜덤한 5개의 데이터를 Series 생성

In [13]:
np.random.randint(10, size=5)

array([5, 8, 1, 5, 1])

In [14]:
data = pd.Series(np.random.randint(10, size=5))
data

0    3
1    1
2    9
3    7
4    4
dtype: int64

In [ ]:
index 설정

In [15]:
data = pd.Series(np.random.randint(10, size=5),
                 index=["A", "B", "C", "D", "E"])
data

A    1
B    3
C    5
D    4
E    9
dtype: int64

In [ ]:
index와 values 데이터 확인

In [16]:
data.index, data.values

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([1, 3, 5, 4, 9]))

In [ ]:
value 값 확인

In [17]:
tmp = "C"

In [18]:
data.A, data.D, data["C"], data[tmp]

(1, 4, 5, 5)

In [19]:
data = pd.Series(np.random.randint(10, size=5),
                 index=["1", "2", "3", "4", "5"])
data

1    1
2    3
3    1
4    0
5    2
dtype: int64

In [ ]:
숫자로된 index의 데이터는 아래와 같이 확인이 안됩니다.

In [22]:
#data.1

In [ ]:
숫자로된 index의 데이터는 아래와 같이 확인해야 합니다.

In [21]:
data["3"]

1

In [23]:
data

1    1
2    3
3    1
4    0
5    2
dtype: int64

In [ ]:
series에 이름과 인덱스에 이름을 설정할수 있습니다.

In [24]:
data.name = "random_number"
data.index.name = "index_number"
data

index_number
1    1
2    3
3    1
4    0
5    2
Name: random_number, dtype: int64

In [25]:
data = pd.Series(np.random.randint(10, size=5),
                 index=["A", "B", "C", "D", "E"])
data

A    2
B    0
C    9
D    6
E    8
dtype: int64

In [ ]:
pandas series도 numpy의 ndarray와 같이 broadcasting이 됩니다.

In [26]:
data * 10

A    20
B     0
C    90
D    60
E    80
dtype: int64

In [ ]:
특정 인덱스에 해당하는 데이터만 확인하고 싶을때는 확인하고자 하는 인덱스를 리스트로 넣어 확인이 가능합니다.

In [27]:
data[["B", "C", "E"]]

B    0
C    9
E    8
dtype: int64

In [ ]:
offset index를 사용해서도 데이터를 확인할수 있습니다. [start:end:stride]

In [29]:
data[1::2]

B    0
D    6
dtype: int64

In [30]:
data[::-1]

E    8
D    6
C    9
B    0
A    2
dtype: int64

In [ ]:
numpy의 ndarray와 마찬가지로 비교연산자로 True, False의 리스트를 리턴합니다.

In [31]:
data > 5

A    False
B    False
C     True
D     True
E     True
dtype: bool

In [ ]:
아래와 같은 방법으로 조건에 맞는 데이터만 필터링 할수 있습니다.

In [32]:
data[data > 5]

C    9
D    6
E    8
dtype: int64

In [ ]:
for문 사용

In [33]:
for idx, val in data.items():
    print(idx, val)

A 2
B 0
C 9
D 6
E 8

In [ ]:
dictionary의 key, value 데이터가 index, value 데이터의 Series로 변환이 가능

In [34]:
dic = {"D": 3, "F": 7, "E": 5}
data2 = pd.Series(dic)
data2

D    3
F    7
E    5
dtype: int64

In [35]:
data

A    2
B    0
C    9
D    6
E    8
dtype: int64

In [36]:
data2

D    3
F    7
E    5
dtype: int64

In [ ]:
Series의 연산이 가능합니다. 연산을 할때에는 동일한 index로 연산이되며 index가 없는 경우에는 NaN 값이 됩니다.

In [37]:
result = data + data2
result

A     NaN
B     NaN
C     NaN
D     9.0
E    13.0
F     NaN
dtype: float64

In [38]:
data

A    2
B    0
C    9
D    6
E    8
dtype: int64

In [39]:
data2

D    3
F    7
E    5
dtype: int64

In [40]:
result != result.isnull()

A    True
B    True
C    True
D    True
E    True
F    True
dtype: bool

In [41]:
result[result.isnull()] = data
result[result.isnull()] = data2
result

A     2.0
B     0.0
C     9.0
D     9.0
E    13.0
F     7.0
dtype: float64

In [ ]:
notnull 함수나 dropna 함수를 이용하여 NaN 데이터를 제거 할수 있습니다.

In [42]:
print(result.notnull())
result[result.notnull()]

A    True
B    True
C    True
D    True
E    True
F    True
dtype: bool

A     2.0
B     0.0
C     9.0
D     9.0
E    13.0
F     7.0
dtype: float64

In [43]:
result.dropna(inplace=True)
result

A     2.0
B     0.0
C     9.0
D     9.0
E    13.0
F     7.0
dtype: float64

In [ ]:
# Series 객체 연산

In [9]:
data1 = pd.Series(np.random.randint(10,size=5, index=list("ABCDE")))
data1

TypeError: randint() got an unexpected keyword argument 'index'

In [7]:
data2 = pd.Series(np.random.randint(10,size=5, index=list("DEF")))
data2

TypeError: randint() got an unexpected keyword argument 'index'

In [ ]:
result = data1 + data2
result

In [ ]:
# NaN 데이터 채우기

In [ ]:
result[result.innull()] = data1
result

In [ ]:
result[result.innull()] = data2
result